body{
    background:url(./reg_bg_min.jpg);
    background-size: cover;
}
#form{
    float:right;
    margin-right: 130px;
    margin-top: 50px;
    padding-left: 50px;
    width:440px;
    height:530px;
    background-color: rgba(255,255,255,0.9);
    border-radius: 15px;
}
#askk{
    color:gray;
    margin-top: -10px;
    margin-bottom: 30px;
}
#askk a{
    text-decoration:none;
}
#input_box{
    width: 415px;
    height: 60px;
}
#name{
    width: 350px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid rgb(221, 221, 221);
    margin-left: 10px;
    margin-top: 5px;
    padding-left: 5px;
}
#tel{
    width: 350px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid rgb(221, 221, 221);
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 5px;
}
#psw{
    width: 350px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid rgb(221, 221, 221);
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 5px;
}
#sur{
    width: 205px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid rgb(221, 221, 221);
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 5px;
}
#getsur{
    width: 130px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid rgb(221, 221, 221);
    background-color: #fff;
}
#reg{
    width: 400px;
    height: 50px;
    background-color: rgb(19, 94, 255);
    border-radius: 25px;
    color: #fff;
    border-style: none;
    margin-top: 50px;
}
